--
-- PostgreSQL database dump
--

\restrict U5668Q8JkbN0cIyI1i8XaTi46WWNSJAesylX2fW6eczEg87nsMyq55zChVPBlaC

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: tenants; Type: TABLE DATA; Schema: _realtime; Owner: -
--



--
-- Data for Name: extensions; Type: TABLE DATA; Schema: _realtime; Owner: -
--



--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: _realtime; Owner: -
--

INSERT INTO _realtime.schema_migrations VALUES (20210706140551, '2026-02-23 06:57:58');
INSERT INTO _realtime.schema_migrations VALUES (20220329161857, '2026-02-23 06:57:58');
INSERT INTO _realtime.schema_migrations VALUES (20220410212326, '2026-02-23 06:57:58');


--
-- Data for Name: audit_log_entries; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: flow_state; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: identities; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: instances; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: oauth_clients; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: mfa_amr_claims; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: mfa_factors; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: mfa_challenges; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: oauth_authorizations; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: oauth_client_states; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: oauth_consents; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: one_time_tokens; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: sso_providers; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: saml_providers; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: saml_relay_states; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: auth; Owner: -
--

INSERT INTO auth.schema_migrations VALUES ('20171026211738');
INSERT INTO auth.schema_migrations VALUES ('20171026211808');
INSERT INTO auth.schema_migrations VALUES ('20171026211834');


--
-- Data for Name: sso_domains; Type: TABLE DATA; Schema: auth; Owner: -
--



--
-- Data for Name: destinations; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.destinations VALUES (1, 'Bengaluru', 'Karnataka', NULL, NULL);
INSERT INTO public.destinations VALUES (2, 'Coorg', 'Karnataka', NULL, NULL);
INSERT INTO public.destinations VALUES (3, 'Gokarna', 'Karnataka', NULL, NULL);


--
-- Data for Name: roadmap_types; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: roadmaps; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: expenses; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: group_types; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: host_profiles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: hotels; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.hotels VALUES (1, 1, 'Heritage Suites Bengaluru', 5029.00, 4.3, 12.95526500, 77.58143700);
INSERT INTO public.hotels VALUES (2, 1, 'Emerald Lodge Bengaluru', 2674.00, 4.0, 12.96401700, 77.56658000);
INSERT INTO public.hotels VALUES (3, 1, 'Grand Hotel Bengaluru', 1495.00, 3.9, 12.94543300, 77.58126200);


--
-- Data for Name: travel_types; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.travel_types VALUES (1, 'leisure');
INSERT INTO public.travel_types VALUES (2, 'beach');
INSERT INTO public.travel_types VALUES (3, 'nature');


--
-- Data for Name: places; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.places VALUES (1, 1, 3, 'Lalbagh Botanical Garden', 12.95070000, 77.58480000, 25.00, 120);
INSERT INTO public.places VALUES (2, 1, 3, 'Cubbon Park', 12.97790000, 77.59520000, 0.00, 90);
INSERT INTO public.places VALUES (3, 1, 4, 'Bangalore Palace', 12.99880000, 77.59210000, 230.00, 120);


--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: roadmap_accommodations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: roadmap_places; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: safety_contacts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: travel_preferences; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: messages_2026_02_22; Type: TABLE DATA; Schema: realtime; Owner: -
--



--
-- Data for Name: messages_2026_02_23; Type: TABLE DATA; Schema: realtime; Owner: -
--



--
-- Data for Name: messages_2026_02_24; Type: TABLE DATA; Schema: realtime; Owner: -
--



--
-- Data for Name: messages_2026_02_25; Type: TABLE DATA; Schema: realtime; Owner: -
--



--
-- Data for Name: messages_2026_02_26; Type: TABLE DATA; Schema: realtime; Owner: -
--



--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: realtime; Owner: -
--

INSERT INTO realtime.schema_migrations VALUES (20211116024918, '2026-02-23 06:58:02');
INSERT INTO realtime.schema_migrations VALUES (20211116045059, '2026-02-23 06:58:02');
INSERT INTO realtime.schema_migrations VALUES (20211116050929, '2026-02-23 06:58:02');


--
-- Data for Name: subscription; Type: TABLE DATA; Schema: realtime; Owner: -
--



--
-- Data for Name: buckets; Type: TABLE DATA; Schema: storage; Owner: -
--



--
-- Data for Name: buckets_analytics; Type: TABLE DATA; Schema: storage; Owner: -
--



--
-- Data for Name: buckets_vectors; Type: TABLE DATA; Schema: storage; Owner: -
--



--
-- Data for Name: iceberg_namespaces; Type: TABLE DATA; Schema: storage; Owner: -
--



--
-- Data for Name: iceberg_tables; Type: TABLE DATA; Schema: storage; Owner: -
--



--
-- Data for Name: migrations; Type: TABLE DATA; Schema: storage; Owner: -
--

INSERT INTO storage.migrations VALUES (0, 'create-migrations-table', 'e18db593bcde2aca2a408c4d1100f6abba2195df', '2026-02-23 06:58:11.582283');
INSERT INTO storage.migrations VALUES (1, 'initialmigration', '6ab16121fbaa08bbd11b712d05f358f9b555d777', '2026-02-23 06:58:11.600783');
INSERT INTO storage.migrations VALUES (2, 'storage-schema', 'f6a1fa2c93cbcd16d4e487b362e45fca157a8dbd', '2026-02-23 06:58:11.606169');


--
-- Data for Name: objects; Type: TABLE DATA; Schema: storage; Owner: -
--



--
-- Data for Name: s3_multipart_uploads; Type: TABLE DATA; Schema: storage; Owner: -
--



--
-- Data for Name: s3_multipart_uploads_parts; Type: TABLE DATA; Schema: storage; Owner: -
--



--
-- Data for Name: vector_indexes; Type: TABLE DATA; Schema: storage; Owner: -
--



--
-- Data for Name: hooks; Type: TABLE DATA; Schema: supabase_functions; Owner: -
--



--
-- Data for Name: migrations; Type: TABLE DATA; Schema: supabase_functions; Owner: -
--

INSERT INTO supabase_functions.migrations VALUES ('initial', '2026-02-23 06:57:52.017105+00');
INSERT INTO supabase_functions.migrations VALUES ('20210809183423_update_grants', '2026-02-23 06:57:52.017105+00');


--
-- Data for Name: schema_migrations; Type: TABLE DATA; Schema: supabase_migrations; Owner: -
--

INSERT INTO supabase_migrations.schema_migrations VALUES ('20260217101637', '{"-- Create gender enum type
do $$ begin
  create type \"public\".\"gender_enum\" as enum (''MALE'', ''FEMALE'', ''OTHER'');
exception
  when duplicate_object then null;
end $$","-- Create destinations table
  create table \"public\".\"destinations\" (
    \"destination_id\" integer generated by default as identity not null,
    \"name\" character varying(100) not null,
    \"state\" character varying(100),
    \"description\" text,
    \"best_season\" character varying(50)
      )","create table \"public\".\"expenses\" (
    \"expense_id\" integer generated by default as identity not null,
    \"roadmap_id\" integer,
    \"accommodation\" numeric(10,2),
    \"food\" numeric(10,2),
    \"transport\" numeric(10,2),
    \"entry_fees\" numeric(10,2),
    \"currency\" character varying(10) default ''USD''::character varying,
    \"last_updated\" timestamp with time zone default now()
      )","create table \"public\".\"group_types\" (
    \"group_type_id\" integer generated by default as identity not null,
    \"type_name\" character varying(20) not null
      )","create table \"public\".\"host_profiles\" (
    \"host_id\" integer generated by default as identity not null,
    \"user_id\" integer,
    \"destination_id\" integer,
    \"max_guests\" integer,
    \"provides_food\" boolean default false,
    \"verified\" boolean default false,
    \"voluntary_min_amount\" numeric(10,2),
    \"is_active\" boolean default true
      )","create table \"public\".\"hotels\" (
    \"hotel_id\" integer generated by default as identity not null,
    \"destination_id\" integer,
    \"name\" character varying(100) not null,
    \"price_per_night\" numeric(10,2),
    \"rating\" numeric(2,1),
    \"latitude\" numeric(10,8),
    \"longitude\" numeric(11,8)
      )","create table \"public\".\"places\" (
    \"place_id\" integer generated by default as identity not null,
    \"destination_id\" integer,
    \"travel_type_id\" integer,
    \"name\" character varying(100) not null,
    \"latitude\" numeric(10,8),
    \"longitude\" numeric(11,8),
    \"entry_fee\" numeric(10,2),
    \"avg_visit_time\" integer
      )","create table \"public\".\"reviews\" (
    \"review_id\" integer generated by default as identity not null,
    \"user_id\" integer,
    \"roadmap_id\" integer,
    \"rating\" integer,
    \"comment\" text,
    \"created_at\" timestamp with time zone default now()
      )","create table \"public\".\"roadmap_accommodations\" (
    \"accommodation_id\" integer generated by default as identity not null,
    \"roadmap_id\" integer,
    \"hotel_id\" integer,
    \"day_number\" integer,
    \"check_in_time\" time without time zone
      )","create table \"public\".\"roadmap_places\" (
    \"id\" integer generated by default as identity not null,
    \"roadmap_id\" integer,
    \"place_id\" integer,
    \"day_number\" integer,
    \"visit_order\" integer,
    \"estimated_start_time\" time without time zone,
    \"estimated_end_time\" time without time zone
      )","create table \"public\".\"roadmap_types\" (
    \"roadmap_type_id\" integer generated by default as identity not null,
    \"type_name\" character varying(30) not null
      )","create table \"public\".\"roadmaps\" (
    \"roadmap_id\" integer generated by default as identity not null,
    \"user_id\" integer,
    \"destination_id\" integer,
    \"roadmap_type_id\" integer,
    \"total_distance\" numeric(10,2),
    \"estimated_cost\" numeric(10,2),
    \"created_at\" timestamp with time zone default now()
      )","create table \"public\".\"roles\" (
    \"role_id\" integer generated by default as identity not null,
    \"role_name\" character varying(30) not null
      )","create table \"public\".\"safety_contacts\" (
    \"contact_id\" integer generated by default as identity not null,
    \"user_id\" integer,
    \"name\" character varying(100),
    \"phone\" character varying(15)
      )","create table \"public\".\"travel_preferences\" (
    \"preference_id\" integer generated by default as identity not null,
    \"user_id\" integer,
    \"travel_type_id\" integer,
    \"days\" integer,
    \"budget\" numeric(10,2),
    \"group_type_id\" integer
      )","create table \"public\".\"travel_types\" (
    \"travel_type_id\" integer generated by default as identity not null,
    \"name\" character varying(50) not null
      )","-- Create users table
  create table \"public\".\"users\" (
    \"user_id\" integer generated by default as identity not null,
    \"name\" character varying(100) not null,
    \"email\" character varying(100) not null,
    \"password_hash\" character varying(255) not null,
    \"phone\" character varying(15),
    \"gender\" public.gender_enum,
    \"role_id\" integer,
    \"is_active\" boolean default true,
    \"created_at\" timestamp with time zone default now()
      )","CREATE UNIQUE INDEX destinations_pkey ON public.destinations USING btree (destination_id)","CREATE UNIQUE INDEX expenses_pkey ON public.expenses USING btree (expense_id)","CREATE UNIQUE INDEX group_types_pkey ON public.group_types USING btree (group_type_id)","CREATE UNIQUE INDEX host_profiles_pkey ON public.host_profiles USING btree (host_id)","CREATE UNIQUE INDEX hotels_pkey ON public.hotels USING btree (hotel_id)","CREATE UNIQUE INDEX places_pkey ON public.places USING btree (place_id)","CREATE UNIQUE INDEX reviews_pkey ON public.reviews USING btree (review_id)","CREATE UNIQUE INDEX roadmap_accommodations_pkey ON public.roadmap_accommodations USING btree (accommodation_id)","CREATE UNIQUE INDEX roadmap_places_pkey ON public.roadmap_places USING btree (id)","CREATE UNIQUE INDEX roadmap_types_pkey ON public.roadmap_types USING btree (roadmap_type_id)","CREATE UNIQUE INDEX roadmaps_pkey ON public.roadmaps USING btree (roadmap_id)","CREATE UNIQUE INDEX roles_pkey ON public.roles USING btree (role_id)","CREATE UNIQUE INDEX safety_contacts_pkey ON public.safety_contacts USING btree (contact_id)","CREATE UNIQUE INDEX travel_preferences_pkey ON public.travel_preferences USING btree (preference_id)","CREATE UNIQUE INDEX travel_types_pkey ON public.travel_types USING btree (travel_type_id)","CREATE UNIQUE INDEX users_pkey ON public.users USING btree (user_id)","alter table \"public\".\"destinations\" add constraint \"destinations_pkey\" PRIMARY KEY using index \"destinations_pkey\"","alter table \"public\".\"expenses\" add constraint \"expenses_pkey\" PRIMARY KEY using index \"expenses_pkey\"","alter table \"public\".\"group_types\" add constraint \"group_types_pkey\" PRIMARY KEY using index \"group_types_pkey\"","alter table \"public\".\"host_profiles\" add constraint \"host_profiles_pkey\" PRIMARY KEY using index \"host_profiles_pkey\"","alter table \"public\".\"hotels\" add constraint \"hotels_pkey\" PRIMARY KEY using index \"hotels_pkey\"","alter table \"public\".\"places\" add constraint \"places_pkey\" PRIMARY KEY using index \"places_pkey\"","alter table \"public\".\"reviews\" add constraint \"reviews_pkey\" PRIMARY KEY using index \"reviews_pkey\"","alter table \"public\".\"roadmap_accommodations\" add constraint \"roadmap_accommodations_pkey\" PRIMARY KEY using index \"roadmap_accommodations_pkey\"","alter table \"public\".\"roadmap_places\" add constraint \"roadmap_places_pkey\" PRIMARY KEY using index \"roadmap_places_pkey\"","alter table \"public\".\"roadmap_types\" add constraint \"roadmap_types_pkey\" PRIMARY KEY using index \"roadmap_types_pkey\"","alter table \"public\".\"roadmaps\" add constraint \"roadmaps_pkey\" PRIMARY KEY using index \"roadmaps_pkey\"","alter table \"public\".\"roles\" add constraint \"roles_pkey\" PRIMARY KEY using index \"roles_pkey\"","alter table \"public\".\"safety_contacts\" add constraint \"safety_contacts_pkey\" PRIMARY KEY using index \"safety_contacts_pkey\"","alter table \"public\".\"travel_preferences\" add constraint \"travel_preferences_pkey\" PRIMARY KEY using index \"travel_preferences_pkey\"","alter table \"public\".\"travel_types\" add constraint \"travel_types_pkey\" PRIMARY KEY using index \"travel_types_pkey\"","alter table \"public\".\"users\" add constraint \"users_pkey\" PRIMARY KEY using index \"users_pkey\"","alter table \"public\".\"expenses\" add constraint \"expenses_roadmap_id_fkey\" FOREIGN KEY (roadmap_id) REFERENCES public.roadmaps(roadmap_id) ON DELETE CASCADE not valid","alter table \"public\".\"expenses\" validate constraint \"expenses_roadmap_id_fkey\"","alter table \"public\".\"host_profiles\" add constraint \"host_profiles_destination_id_fkey\" FOREIGN KEY (destination_id) REFERENCES public.destinations(destination_id) ON DELETE SET NULL not valid","alter table \"public\".\"host_profiles\" validate constraint \"host_profiles_destination_id_fkey\"","alter table \"public\".\"host_profiles\" add constraint \"host_profiles_user_id_fkey\" FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE not valid","alter table \"public\".\"host_profiles\" validate constraint \"host_profiles_user_id_fkey\"","alter table \"public\".\"hotels\" add constraint \"hotels_destination_id_fkey\" FOREIGN KEY (destination_id) REFERENCES public.destinations(destination_id) ON DELETE CASCADE not valid","alter table \"public\".\"hotels\" validate constraint \"hotels_destination_id_fkey\"","alter table \"public\".\"places\" add constraint \"places_destination_id_fkey\" FOREIGN KEY (destination_id) REFERENCES public.destinations(destination_id) ON DELETE CASCADE not valid","alter table \"public\".\"places\" validate constraint \"places_destination_id_fkey\"","alter table \"public\".\"places\" add constraint \"places_travel_type_id_fkey\" FOREIGN KEY (travel_type_id) REFERENCES public.travel_types(travel_type_id) ON DELETE SET NULL not valid","alter table \"public\".\"places\" validate constraint \"places_travel_type_id_fkey\"","alter table \"public\".\"reviews\" add constraint \"reviews_rating_check\" CHECK (((rating >= 1) AND (rating <= 5))) not valid","alter table \"public\".\"reviews\" validate constraint \"reviews_rating_check\"","alter table \"public\".\"reviews\" add constraint \"reviews_roadmap_id_fkey\" FOREIGN KEY (roadmap_id) REFERENCES public.roadmaps(roadmap_id) ON DELETE CASCADE not valid","alter table \"public\".\"reviews\" validate constraint \"reviews_roadmap_id_fkey\"","alter table \"public\".\"reviews\" add constraint \"reviews_user_id_fkey\" FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE not valid","alter table \"public\".\"reviews\" validate constraint \"reviews_user_id_fkey\"","alter table \"public\".\"roadmap_accommodations\" add constraint \"roadmap_accommodations_hotel_id_fkey\" FOREIGN KEY (hotel_id) REFERENCES public.hotels(hotel_id) ON DELETE SET NULL not valid","alter table \"public\".\"roadmap_accommodations\" validate constraint \"roadmap_accommodations_hotel_id_fkey\"","alter table \"public\".\"roadmap_accommodations\" add constraint \"roadmap_accommodations_roadmap_id_fkey\" FOREIGN KEY (roadmap_id) REFERENCES public.roadmaps(roadmap_id) ON DELETE CASCADE not valid","alter table \"public\".\"roadmap_accommodations\" validate constraint \"roadmap_accommodations_roadmap_id_fkey\"","alter table \"public\".\"roadmap_places\" add constraint \"roadmap_places_place_id_fkey\" FOREIGN KEY (place_id) REFERENCES public.places(place_id) ON DELETE CASCADE not valid","alter table \"public\".\"roadmap_places\" validate constraint \"roadmap_places_place_id_fkey\"","alter table \"public\".\"roadmap_places\" add constraint \"roadmap_places_roadmap_id_fkey\" FOREIGN KEY (roadmap_id) REFERENCES public.roadmaps(roadmap_id) ON DELETE CASCADE not valid","alter table \"public\".\"roadmap_places\" validate constraint \"roadmap_places_roadmap_id_fkey\"","alter table \"public\".\"roadmaps\" add constraint \"roadmaps_destination_id_fkey\" FOREIGN KEY (destination_id) REFERENCES public.destinations(destination_id) ON DELETE CASCADE not valid","alter table \"public\".\"roadmaps\" validate constraint \"roadmaps_destination_id_fkey\"","alter table \"public\".\"roadmaps\" add constraint \"roadmaps_roadmap_type_id_fkey\" FOREIGN KEY (roadmap_type_id) REFERENCES public.roadmap_types(roadmap_type_id) ON DELETE SET NULL not valid","alter table \"public\".\"roadmaps\" validate constraint \"roadmaps_roadmap_type_id_fkey\"","alter table \"public\".\"roadmaps\" add constraint \"roadmaps_user_id_fkey\" FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE not valid","alter table \"public\".\"roadmaps\" validate constraint \"roadmaps_user_id_fkey\"","alter table \"public\".\"safety_contacts\" add constraint \"safety_contacts_user_id_fkey\" FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE not valid","alter table \"public\".\"safety_contacts\" validate constraint \"safety_contacts_user_id_fkey\"","alter table \"public\".\"travel_preferences\" add constraint \"travel_preferences_group_type_id_fkey\" FOREIGN KEY (group_type_id) REFERENCES public.group_types(group_type_id) ON DELETE SET NULL not valid","alter table \"public\".\"travel_preferences\" validate constraint \"travel_preferences_group_type_id_fkey\"","alter table \"public\".\"travel_preferences\" add constraint \"travel_preferences_travel_type_id_fkey\" FOREIGN KEY (travel_type_id) REFERENCES public.travel_types(travel_type_id) ON DELETE SET NULL not valid","alter table \"public\".\"travel_preferences\" validate constraint \"travel_preferences_travel_type_id_fkey\"","alter table \"public\".\"travel_preferences\" add constraint \"travel_preferences_user_id_fkey\" FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE not valid","alter table \"public\".\"travel_preferences\" validate constraint \"travel_preferences_user_id_fkey\"","alter table \"public\".\"users\" add constraint \"users_role_id_fkey\" FOREIGN KEY (role_id) REFERENCES public.roles(role_id) ON DELETE SET NULL not valid","alter table \"public\".\"users\" validate constraint \"users_role_id_fkey\"","grant delete on table \"public\".\"destinations\" to \"anon\"","grant insert on table \"public\".\"destinations\" to \"anon\"","grant references on table \"public\".\"destinations\" to \"anon\"","grant select on table \"public\".\"destinations\" to \"anon\"","grant trigger on table \"public\".\"destinations\" to \"anon\"","grant truncate on table \"public\".\"destinations\" to \"anon\"","grant update on table \"public\".\"destinations\" to \"anon\"","grant delete on table \"public\".\"destinations\" to \"authenticated\"","grant insert on table \"public\".\"destinations\" to \"authenticated\"","grant references on table \"public\".\"destinations\" to \"authenticated\"","grant select on table \"public\".\"destinations\" to \"authenticated\"","grant trigger on table \"public\".\"destinations\" to \"authenticated\"","grant truncate on table \"public\".\"destinations\" to \"authenticated\"","grant update on table \"public\".\"destinations\" to \"authenticated\"","grant delete on table \"public\".\"destinations\" to \"postgres\"","grant insert on table \"public\".\"destinations\" to \"postgres\"","grant references on table \"public\".\"destinations\" to \"postgres\"","grant select on table \"public\".\"destinations\" to \"postgres\"","grant trigger on table \"public\".\"destinations\" to \"postgres\"","grant truncate on table \"public\".\"destinations\" to \"postgres\"","grant update on table \"public\".\"destinations\" to \"postgres\"","grant delete on table \"public\".\"destinations\" to \"service_role\"","grant insert on table \"public\".\"destinations\" to \"service_role\"","grant references on table \"public\".\"destinations\" to \"service_role\"","grant select on table \"public\".\"destinations\" to \"service_role\"","grant trigger on table \"public\".\"destinations\" to \"service_role\"","grant truncate on table \"public\".\"destinations\" to \"service_role\"","grant update on table \"public\".\"destinations\" to \"service_role\"","grant delete on table \"public\".\"expenses\" to \"anon\"","grant insert on table \"public\".\"expenses\" to \"anon\"","grant references on table \"public\".\"expenses\" to \"anon\"","grant select on table \"public\".\"expenses\" to \"anon\"","grant trigger on table \"public\".\"expenses\" to \"anon\"","grant truncate on table \"public\".\"expenses\" to \"anon\"","grant update on table \"public\".\"expenses\" to \"anon\"","grant delete on table \"public\".\"expenses\" to \"authenticated\"","grant insert on table \"public\".\"expenses\" to \"authenticated\"","grant references on table \"public\".\"expenses\" to \"authenticated\"","grant select on table \"public\".\"expenses\" to \"authenticated\"","grant trigger on table \"public\".\"expenses\" to \"authenticated\"","grant truncate on table \"public\".\"expenses\" to \"authenticated\"","grant update on table \"public\".\"expenses\" to \"authenticated\"","grant delete on table \"public\".\"expenses\" to \"postgres\"","grant insert on table \"public\".\"expenses\" to \"postgres\"","grant references on table \"public\".\"expenses\" to \"postgres\"","grant select on table \"public\".\"expenses\" to \"postgres\"","grant trigger on table \"public\".\"expenses\" to \"postgres\"","grant truncate on table \"public\".\"expenses\" to \"postgres\"","grant update on table \"public\".\"expenses\" to \"postgres\"","grant delete on table \"public\".\"expenses\" to \"service_role\"","grant insert on table \"public\".\"expenses\" to \"service_role\"","grant references on table \"public\".\"expenses\" to \"service_role\"","grant select on table \"public\".\"expenses\" to \"service_role\"","grant trigger on table \"public\".\"expenses\" to \"service_role\"","grant truncate on table \"public\".\"expenses\" to \"service_role\"","grant update on table \"public\".\"expenses\" to \"service_role\"","grant delete on table \"public\".\"group_types\" to \"anon\"","grant insert on table \"public\".\"group_types\" to \"anon\"","grant references on table \"public\".\"group_types\" to \"anon\"","grant select on table \"public\".\"group_types\" to \"anon\"","grant trigger on table \"public\".\"group_types\" to \"anon\"","grant truncate on table \"public\".\"group_types\" to \"anon\"","grant update on table \"public\".\"group_types\" to \"anon\"","grant delete on table \"public\".\"group_types\" to \"authenticated\"","grant insert on table \"public\".\"group_types\" to \"authenticated\"","grant references on table \"public\".\"group_types\" to \"authenticated\"","grant select on table \"public\".\"group_types\" to \"authenticated\"","grant trigger on table \"public\".\"group_types\" to \"authenticated\"","grant truncate on table \"public\".\"group_types\" to \"authenticated\"","grant update on table \"public\".\"group_types\" to \"authenticated\"","grant delete on table \"public\".\"group_types\" to \"postgres\"","grant insert on table \"public\".\"group_types\" to \"postgres\"","grant references on table \"public\".\"group_types\" to \"postgres\"","grant select on table \"public\".\"group_types\" to \"postgres\"","grant trigger on table \"public\".\"group_types\" to \"postgres\"","grant truncate on table \"public\".\"group_types\" to \"postgres\"","grant update on table \"public\".\"group_types\" to \"postgres\"","grant delete on table \"public\".\"group_types\" to \"service_role\"","grant insert on table \"public\".\"group_types\" to \"service_role\"","grant references on table \"public\".\"group_types\" to \"service_role\"","grant select on table \"public\".\"group_types\" to \"service_role\"","grant trigger on table \"public\".\"group_types\" to \"service_role\"","grant truncate on table \"public\".\"group_types\" to \"service_role\"","grant update on table \"public\".\"group_types\" to \"service_role\"","grant delete on table \"public\".\"host_profiles\" to \"anon\"","grant insert on table \"public\".\"host_profiles\" to \"anon\"","grant references on table \"public\".\"host_profiles\" to \"anon\"","grant select on table \"public\".\"host_profiles\" to \"anon\"","grant trigger on table \"public\".\"host_profiles\" to \"anon\"","grant truncate on table \"public\".\"host_profiles\" to \"anon\"","grant update on table \"public\".\"host_profiles\" to \"anon\"","grant delete on table \"public\".\"host_profiles\" to \"authenticated\"","grant insert on table \"public\".\"host_profiles\" to \"authenticated\"","grant references on table \"public\".\"host_profiles\" to \"authenticated\"","grant select on table \"public\".\"host_profiles\" to \"authenticated\"","grant trigger on table \"public\".\"host_profiles\" to \"authenticated\"","grant truncate on table \"public\".\"host_profiles\" to \"authenticated\"","grant update on table \"public\".\"host_profiles\" to \"authenticated\"","grant delete on table \"public\".\"host_profiles\" to \"postgres\"","grant insert on table \"public\".\"host_profiles\" to \"postgres\"","grant references on table \"public\".\"host_profiles\" to \"postgres\"","grant select on table \"public\".\"host_profiles\" to \"postgres\"","grant trigger on table \"public\".\"host_profiles\" to \"postgres\"","grant truncate on table \"public\".\"host_profiles\" to \"postgres\"","grant update on table \"public\".\"host_profiles\" to \"postgres\"","grant delete on table \"public\".\"host_profiles\" to \"service_role\"","grant insert on table \"public\".\"host_profiles\" to \"service_role\"","grant references on table \"public\".\"host_profiles\" to \"service_role\"","grant select on table \"public\".\"host_profiles\" to \"service_role\"","grant trigger on table \"public\".\"host_profiles\" to \"service_role\"","grant truncate on table \"public\".\"host_profiles\" to \"service_role\"","grant update on table \"public\".\"host_profiles\" to \"service_role\"","grant delete on table \"public\".\"hotels\" to \"anon\"","grant insert on table \"public\".\"hotels\" to \"anon\"","grant references on table \"public\".\"hotels\" to \"anon\"","grant select on table \"public\".\"hotels\" to \"anon\"","grant trigger on table \"public\".\"hotels\" to \"anon\"","grant truncate on table \"public\".\"hotels\" to \"anon\"","grant update on table \"public\".\"hotels\" to \"anon\"","grant delete on table \"public\".\"hotels\" to \"authenticated\"","grant insert on table \"public\".\"hotels\" to \"authenticated\"","grant references on table \"public\".\"hotels\" to \"authenticated\"","grant select on table \"public\".\"hotels\" to \"authenticated\"","grant trigger on table \"public\".\"hotels\" to \"authenticated\"","grant truncate on table \"public\".\"hotels\" to \"authenticated\"","grant update on table \"public\".\"hotels\" to \"authenticated\"","grant delete on table \"public\".\"hotels\" to \"postgres\"","grant insert on table \"public\".\"hotels\" to \"postgres\"","grant references on table \"public\".\"hotels\" to \"postgres\"","grant select on table \"public\".\"hotels\" to \"postgres\"","grant trigger on table \"public\".\"hotels\" to \"postgres\"","grant truncate on table \"public\".\"hotels\" to \"postgres\"","grant update on table \"public\".\"hotels\" to \"postgres\"","grant delete on table \"public\".\"hotels\" to \"service_role\"","grant insert on table \"public\".\"hotels\" to \"service_role\"","grant references on table \"public\".\"hotels\" to \"service_role\"","grant select on table \"public\".\"hotels\" to \"service_role\"","grant trigger on table \"public\".\"hotels\" to \"service_role\"","grant truncate on table \"public\".\"hotels\" to \"service_role\"","grant update on table \"public\".\"hotels\" to \"service_role\"","grant delete on table \"public\".\"places\" to \"anon\"","grant insert on table \"public\".\"places\" to \"anon\"","grant references on table \"public\".\"places\" to \"anon\"","grant select on table \"public\".\"places\" to \"anon\"","grant trigger on table \"public\".\"places\" to \"anon\"","grant truncate on table \"public\".\"places\" to \"anon\"","grant update on table \"public\".\"places\" to \"anon\"","grant delete on table \"public\".\"places\" to \"authenticated\"","grant insert on table \"public\".\"places\" to \"authenticated\"","grant references on table \"public\".\"places\" to \"authenticated\"","grant select on table \"public\".\"places\" to \"authenticated\"","grant trigger on table \"public\".\"places\" to \"authenticated\"","grant truncate on table \"public\".\"places\" to \"authenticated\"","grant update on table \"public\".\"places\" to \"authenticated\"","grant delete on table \"public\".\"places\" to \"postgres\"","grant insert on table \"public\".\"places\" to \"postgres\"","grant references on table \"public\".\"places\" to \"postgres\"","grant select on table \"public\".\"places\" to \"postgres\"","grant trigger on table \"public\".\"places\" to \"postgres\"","grant truncate on table \"public\".\"places\" to \"postgres\"","grant update on table \"public\".\"places\" to \"postgres\"","grant delete on table \"public\".\"places\" to \"service_role\"","grant insert on table \"public\".\"places\" to \"service_role\"","grant references on table \"public\".\"places\" to \"service_role\"","grant select on table \"public\".\"places\" to \"service_role\"","grant trigger on table \"public\".\"places\" to \"service_role\"","grant truncate on table \"public\".\"places\" to \"service_role\"","grant update on table \"public\".\"places\" to \"service_role\"","grant delete on table \"public\".\"reviews\" to \"anon\"","grant insert on table \"public\".\"reviews\" to \"anon\"","grant references on table \"public\".\"reviews\" to \"anon\"","grant select on table \"public\".\"reviews\" to \"anon\"","grant trigger on table \"public\".\"reviews\" to \"anon\"","grant truncate on table \"public\".\"reviews\" to \"anon\"","grant update on table \"public\".\"reviews\" to \"anon\"","grant delete on table \"public\".\"reviews\" to \"authenticated\"","grant insert on table \"public\".\"reviews\" to \"authenticated\"","grant references on table \"public\".\"reviews\" to \"authenticated\"","grant select on table \"public\".\"reviews\" to \"authenticated\"","grant trigger on table \"public\".\"reviews\" to \"authenticated\"","grant truncate on table \"public\".\"reviews\" to \"authenticated\"","grant update on table \"public\".\"reviews\" to \"authenticated\"","grant delete on table \"public\".\"reviews\" to \"postgres\"","grant insert on table \"public\".\"reviews\" to \"postgres\"","grant references on table \"public\".\"reviews\" to \"postgres\"","grant select on table \"public\".\"reviews\" to \"postgres\"","grant trigger on table \"public\".\"reviews\" to \"postgres\"","grant truncate on table \"public\".\"reviews\" to \"postgres\"","grant update on table \"public\".\"reviews\" to \"postgres\"","grant delete on table \"public\".\"reviews\" to \"service_role\"","grant insert on table \"public\".\"reviews\" to \"service_role\"","grant references on table \"public\".\"reviews\" to \"service_role\"","grant select on table \"public\".\"reviews\" to \"service_role\"","grant trigger on table \"public\".\"reviews\" to \"service_role\"","grant truncate on table \"public\".\"reviews\" to \"service_role\"","grant update on table \"public\".\"reviews\" to \"service_role\"","grant delete on table \"public\".\"roadmap_accommodations\" to \"anon\"","grant insert on table \"public\".\"roadmap_accommodations\" to \"anon\"","grant references on table \"public\".\"roadmap_accommodations\" to \"anon\"","grant select on table \"public\".\"roadmap_accommodations\" to \"anon\"","grant trigger on table \"public\".\"roadmap_accommodations\" to \"anon\"","grant truncate on table \"public\".\"roadmap_accommodations\" to \"anon\"","grant update on table \"public\".\"roadmap_accommodations\" to \"anon\"","grant delete on table \"public\".\"roadmap_accommodations\" to \"authenticated\"","grant insert on table \"public\".\"roadmap_accommodations\" to \"authenticated\"","grant references on table \"public\".\"roadmap_accommodations\" to \"authenticated\"","grant select on table \"public\".\"roadmap_accommodations\" to \"authenticated\"","grant trigger on table \"public\".\"roadmap_accommodations\" to \"authenticated\"","grant truncate on table \"public\".\"roadmap_accommodations\" to \"authenticated\"","grant update on table \"public\".\"roadmap_accommodations\" to \"authenticated\"","grant delete on table \"public\".\"roadmap_accommodations\" to \"postgres\"","grant insert on table \"public\".\"roadmap_accommodations\" to \"postgres\"","grant references on table \"public\".\"roadmap_accommodations\" to \"postgres\"","grant select on table \"public\".\"roadmap_accommodations\" to \"postgres\"","grant trigger on table \"public\".\"roadmap_accommodations\" to \"postgres\"","grant truncate on table \"public\".\"roadmap_accommodations\" to \"postgres\"","grant update on table \"public\".\"roadmap_accommodations\" to \"postgres\"","grant delete on table \"public\".\"roadmap_accommodations\" to \"service_role\"","grant insert on table \"public\".\"roadmap_accommodations\" to \"service_role\"","grant references on table \"public\".\"roadmap_accommodations\" to \"service_role\"","grant select on table \"public\".\"roadmap_accommodations\" to \"service_role\"","grant trigger on table \"public\".\"roadmap_accommodations\" to \"service_role\"","grant truncate on table \"public\".\"roadmap_accommodations\" to \"service_role\"","grant update on table \"public\".\"roadmap_accommodations\" to \"service_role\"","grant delete on table \"public\".\"roadmap_places\" to \"anon\"","grant insert on table \"public\".\"roadmap_places\" to \"anon\"","grant references on table \"public\".\"roadmap_places\" to \"anon\"","grant select on table \"public\".\"roadmap_places\" to \"anon\"","grant trigger on table \"public\".\"roadmap_places\" to \"anon\"","grant truncate on table \"public\".\"roadmap_places\" to \"anon\"","grant update on table \"public\".\"roadmap_places\" to \"anon\"","grant delete on table \"public\".\"roadmap_places\" to \"authenticated\"","grant insert on table \"public\".\"roadmap_places\" to \"authenticated\"","grant references on table \"public\".\"roadmap_places\" to \"authenticated\"","grant select on table \"public\".\"roadmap_places\" to \"authenticated\"","grant trigger on table \"public\".\"roadmap_places\" to \"authenticated\"","grant truncate on table \"public\".\"roadmap_places\" to \"authenticated\"","grant update on table \"public\".\"roadmap_places\" to \"authenticated\"","grant delete on table \"public\".\"roadmap_places\" to \"postgres\"","grant insert on table \"public\".\"roadmap_places\" to \"postgres\"","grant references on table \"public\".\"roadmap_places\" to \"postgres\"","grant select on table \"public\".\"roadmap_places\" to \"postgres\"","grant trigger on table \"public\".\"roadmap_places\" to \"postgres\"","grant truncate on table \"public\".\"roadmap_places\" to \"postgres\"","grant update on table \"public\".\"roadmap_places\" to \"postgres\"","grant delete on table \"public\".\"roadmap_places\" to \"service_role\"","grant insert on table \"public\".\"roadmap_places\" to \"service_role\"","grant references on table \"public\".\"roadmap_places\" to \"service_role\"","grant select on table \"public\".\"roadmap_places\" to \"service_role\"","grant trigger on table \"public\".\"roadmap_places\" to \"service_role\"","grant truncate on table \"public\".\"roadmap_places\" to \"service_role\"","grant update on table \"public\".\"roadmap_places\" to \"service_role\"","grant delete on table \"public\".\"roadmap_types\" to \"anon\"","grant insert on table \"public\".\"roadmap_types\" to \"anon\"","grant references on table \"public\".\"roadmap_types\" to \"anon\"","grant select on table \"public\".\"roadmap_types\" to \"anon\"","grant trigger on table \"public\".\"roadmap_types\" to \"anon\"","grant truncate on table \"public\".\"roadmap_types\" to \"anon\"","grant update on table \"public\".\"roadmap_types\" to \"anon\"","grant delete on table \"public\".\"roadmap_types\" to \"authenticated\"","grant insert on table \"public\".\"roadmap_types\" to \"authenticated\"","grant references on table \"public\".\"roadmap_types\" to \"authenticated\"","grant select on table \"public\".\"roadmap_types\" to \"authenticated\"","grant trigger on table \"public\".\"roadmap_types\" to \"authenticated\"","grant truncate on table \"public\".\"roadmap_types\" to \"authenticated\"","grant update on table \"public\".\"roadmap_types\" to \"authenticated\"","grant delete on table \"public\".\"roadmap_types\" to \"postgres\"","grant insert on table \"public\".\"roadmap_types\" to \"postgres\"","grant references on table \"public\".\"roadmap_types\" to \"postgres\"","grant select on table \"public\".\"roadmap_types\" to \"postgres\"","grant trigger on table \"public\".\"roadmap_types\" to \"postgres\"","grant truncate on table \"public\".\"roadmap_types\" to \"postgres\"","grant update on table \"public\".\"roadmap_types\" to \"postgres\"","grant delete on table \"public\".\"roadmap_types\" to \"service_role\"","grant insert on table \"public\".\"roadmap_types\" to \"service_role\"","grant references on table \"public\".\"roadmap_types\" to \"service_role\"","grant select on table \"public\".\"roadmap_types\" to \"service_role\"","grant trigger on table \"public\".\"roadmap_types\" to \"service_role\"","grant truncate on table \"public\".\"roadmap_types\" to \"service_role\"","grant update on table \"public\".\"roadmap_types\" to \"service_role\"","grant delete on table \"public\".\"roadmaps\" to \"anon\"","grant insert on table \"public\".\"roadmaps\" to \"anon\"","grant references on table \"public\".\"roadmaps\" to \"anon\"","grant select on table \"public\".\"roadmaps\" to \"anon\"","grant trigger on table \"public\".\"roadmaps\" to \"anon\"","grant truncate on table \"public\".\"roadmaps\" to \"anon\"","grant update on table \"public\".\"roadmaps\" to \"anon\"","grant delete on table \"public\".\"roadmaps\" to \"authenticated\"","grant insert on table \"public\".\"roadmaps\" to \"authenticated\"","grant references on table \"public\".\"roadmaps\" to \"authenticated\"","grant select on table \"public\".\"roadmaps\" to \"authenticated\"","grant trigger on table \"public\".\"roadmaps\" to \"authenticated\"","grant truncate on table \"public\".\"roadmaps\" to \"authenticated\"","grant update on table \"public\".\"roadmaps\" to \"authenticated\"","grant delete on table \"public\".\"roadmaps\" to \"postgres\"","grant insert on table \"public\".\"roadmaps\" to \"postgres\"","grant references on table \"public\".\"roadmaps\" to \"postgres\"","grant select on table \"public\".\"roadmaps\" to \"postgres\"","grant trigger on table \"public\".\"roadmaps\" to \"postgres\"","grant truncate on table \"public\".\"roadmaps\" to \"postgres\"","grant update on table \"public\".\"roadmaps\" to \"postgres\"","grant delete on table \"public\".\"roadmaps\" to \"service_role\"","grant insert on table \"public\".\"roadmaps\" to \"service_role\"","grant references on table \"public\".\"roadmaps\" to \"service_role\"","grant select on table \"public\".\"roadmaps\" to \"service_role\"","grant trigger on table \"public\".\"roadmaps\" to \"service_role\"","grant truncate on table \"public\".\"roadmaps\" to \"service_role\"","grant update on table \"public\".\"roadmaps\" to \"service_role\"","grant delete on table \"public\".\"roles\" to \"anon\"","grant insert on table \"public\".\"roles\" to \"anon\"","grant references on table \"public\".\"roles\" to \"anon\"","grant select on table \"public\".\"roles\" to \"anon\"","grant trigger on table \"public\".\"roles\" to \"anon\"","grant truncate on table \"public\".\"roles\" to \"anon\"","grant update on table \"public\".\"roles\" to \"anon\"","grant delete on table \"public\".\"roles\" to \"authenticated\"","grant insert on table \"public\".\"roles\" to \"authenticated\"","grant references on table \"public\".\"roles\" to \"authenticated\"","grant select on table \"public\".\"roles\" to \"authenticated\"","grant trigger on table \"public\".\"roles\" to \"authenticated\"","grant truncate on table \"public\".\"roles\" to \"authenticated\"","grant update on table \"public\".\"roles\" to \"authenticated\"","grant delete on table \"public\".\"roles\" to \"postgres\"","grant insert on table \"public\".\"roles\" to \"postgres\"","grant references on table \"public\".\"roles\" to \"postgres\"","grant select on table \"public\".\"roles\" to \"postgres\"","grant trigger on table \"public\".\"roles\" to \"postgres\"","grant truncate on table \"public\".\"roles\" to \"postgres\"","grant update on table \"public\".\"roles\" to \"postgres\"","grant delete on table \"public\".\"roles\" to \"service_role\"","grant insert on table \"public\".\"roles\" to \"service_role\"","grant references on table \"public\".\"roles\" to \"service_role\"","grant select on table \"public\".\"roles\" to \"service_role\"","grant trigger on table \"public\".\"roles\" to \"service_role\"","grant truncate on table \"public\".\"roles\" to \"service_role\"","grant update on table \"public\".\"roles\" to \"service_role\"","grant delete on table \"public\".\"safety_contacts\" to \"anon\"","grant insert on table \"public\".\"safety_contacts\" to \"anon\"","grant references on table \"public\".\"safety_contacts\" to \"anon\"","grant select on table \"public\".\"safety_contacts\" to \"anon\"","grant trigger on table \"public\".\"safety_contacts\" to \"anon\"","grant truncate on table \"public\".\"safety_contacts\" to \"anon\"","grant update on table \"public\".\"safety_contacts\" to \"anon\"","grant delete on table \"public\".\"safety_contacts\" to \"authenticated\"","grant insert on table \"public\".\"safety_contacts\" to \"authenticated\"","grant references on table \"public\".\"safety_contacts\" to \"authenticated\"","grant select on table \"public\".\"safety_contacts\" to \"authenticated\"","grant trigger on table \"public\".\"safety_contacts\" to \"authenticated\"","grant truncate on table \"public\".\"safety_contacts\" to \"authenticated\"","grant update on table \"public\".\"safety_contacts\" to \"authenticated\"","grant delete on table \"public\".\"safety_contacts\" to \"postgres\"","grant insert on table \"public\".\"safety_contacts\" to \"postgres\"","grant references on table \"public\".\"safety_contacts\" to \"postgres\"","grant select on table \"public\".\"safety_contacts\" to \"postgres\"","grant trigger on table \"public\".\"safety_contacts\" to \"postgres\"","grant truncate on table \"public\".\"safety_contacts\" to \"postgres\"","grant update on table \"public\".\"safety_contacts\" to \"postgres\"","grant delete on table \"public\".\"safety_contacts\" to \"service_role\"","grant insert on table \"public\".\"safety_contacts\" to \"service_role\"","grant references on table \"public\".\"safety_contacts\" to \"service_role\"","grant select on table \"public\".\"safety_contacts\" to \"service_role\"","grant trigger on table \"public\".\"safety_contacts\" to \"service_role\"","grant truncate on table \"public\".\"safety_contacts\" to \"service_role\"","grant update on table \"public\".\"safety_contacts\" to \"service_role\"","grant delete on table \"public\".\"travel_preferences\" to \"anon\"","grant insert on table \"public\".\"travel_preferences\" to \"anon\"","grant references on table \"public\".\"travel_preferences\" to \"anon\"","grant select on table \"public\".\"travel_preferences\" to \"anon\"","grant trigger on table \"public\".\"travel_preferences\" to \"anon\"","grant truncate on table \"public\".\"travel_preferences\" to \"anon\"","grant update on table \"public\".\"travel_preferences\" to \"anon\"","grant delete on table \"public\".\"travel_preferences\" to \"authenticated\"","grant insert on table \"public\".\"travel_preferences\" to \"authenticated\"","grant references on table \"public\".\"travel_preferences\" to \"authenticated\"","grant select on table \"public\".\"travel_preferences\" to \"authenticated\"","grant trigger on table \"public\".\"travel_preferences\" to \"authenticated\"","grant truncate on table \"public\".\"travel_preferences\" to \"authenticated\"","grant update on table \"public\".\"travel_preferences\" to \"authenticated\"","grant delete on table \"public\".\"travel_preferences\" to \"postgres\"","grant insert on table \"public\".\"travel_preferences\" to \"postgres\"","grant references on table \"public\".\"travel_preferences\" to \"postgres\"","grant select on table \"public\".\"travel_preferences\" to \"postgres\"","grant trigger on table \"public\".\"travel_preferences\" to \"postgres\"","grant truncate on table \"public\".\"travel_preferences\" to \"postgres\"","grant update on table \"public\".\"travel_preferences\" to \"postgres\"","grant delete on table \"public\".\"travel_preferences\" to \"service_role\"","grant insert on table \"public\".\"travel_preferences\" to \"service_role\"","grant references on table \"public\".\"travel_preferences\" to \"service_role\"","grant select on table \"public\".\"travel_preferences\" to \"service_role\"","grant trigger on table \"public\".\"travel_preferences\" to \"service_role\"","grant truncate on table \"public\".\"travel_preferences\" to \"service_role\"","grant update on table \"public\".\"travel_preferences\" to \"service_role\"","grant delete on table \"public\".\"travel_types\" to \"anon\"","grant insert on table \"public\".\"travel_types\" to \"anon\"","grant references on table \"public\".\"travel_types\" to \"anon\"","grant select on table \"public\".\"travel_types\" to \"anon\"","grant trigger on table \"public\".\"travel_types\" to \"anon\"","grant truncate on table \"public\".\"travel_types\" to \"anon\"","grant update on table \"public\".\"travel_types\" to \"anon\"","grant delete on table \"public\".\"travel_types\" to \"authenticated\"","grant insert on table \"public\".\"travel_types\" to \"authenticated\"","grant references on table \"public\".\"travel_types\" to \"authenticated\"","grant select on table \"public\".\"travel_types\" to \"authenticated\"","grant trigger on table \"public\".\"travel_types\" to \"authenticated\"","grant truncate on table \"public\".\"travel_types\" to \"authenticated\"","grant update on table \"public\".\"travel_types\" to \"authenticated\"","grant delete on table \"public\".\"travel_types\" to \"postgres\"","grant insert on table \"public\".\"travel_types\" to \"postgres\"","grant references on table \"public\".\"travel_types\" to \"postgres\"","grant select on table \"public\".\"travel_types\" to \"postgres\"","grant trigger on table \"public\".\"travel_types\" to \"postgres\"","grant truncate on table \"public\".\"travel_types\" to \"postgres\"","grant update on table \"public\".\"travel_types\" to \"postgres\"","grant delete on table \"public\".\"travel_types\" to \"service_role\"","grant insert on table \"public\".\"travel_types\" to \"service_role\"","grant references on table \"public\".\"travel_types\" to \"service_role\"","grant select on table \"public\".\"travel_types\" to \"service_role\"","grant trigger on table \"public\".\"travel_types\" to \"service_role\"","grant truncate on table \"public\".\"travel_types\" to \"service_role\"","grant update on table \"public\".\"travel_types\" to \"service_role\"","grant delete on table \"public\".\"users\" to \"postgres\"","grant insert on table \"public\".\"users\" to \"postgres\"","grant references on table \"public\".\"users\" to \"postgres\"","grant select on table \"public\".\"users\" to \"postgres\"","grant trigger on table \"public\".\"users\" to \"postgres\"","grant truncate on table \"public\".\"users\" to \"postgres\"","grant update on table \"public\".\"users\" to \"postgres\""}', 'initialize_tables');


--
-- Data for Name: seed_files; Type: TABLE DATA; Schema: supabase_migrations; Owner: -
--

INSERT INTO supabase_migrations.seed_files VALUES ('supabase/seed.sql', '9b102115d01f91336986413e442ec344bd2c5b78d319ed5f888f6138b5be63e7');


--
-- Data for Name: secrets; Type: TABLE DATA; Schema: vault; Owner: -
--



--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: auth; Owner: -
--

SELECT pg_catalog.setval('auth.refresh_tokens_id_seq', 1, false);


--
-- Name: destinations_destination_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.destinations_destination_id_seq', 1, false);


--
-- Name: expenses_expense_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.expenses_expense_id_seq', 1, false);


--
-- Name: group_types_group_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.group_types_group_type_id_seq', 1, false);


--
-- Name: host_profiles_host_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.host_profiles_host_id_seq', 1, false);


--
-- Name: hotels_hotel_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.hotels_hotel_id_seq', 640, true);


--
-- Name: places_place_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.places_place_id_seq', 400, true);


--
-- Name: reviews_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.reviews_review_id_seq', 1, false);


--
-- Name: roadmap_accommodations_accommodation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.roadmap_accommodations_accommodation_id_seq', 1, false);


--
-- Name: roadmap_places_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.roadmap_places_id_seq', 1, false);


--
-- Name: roadmap_types_roadmap_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.roadmap_types_roadmap_type_id_seq', 1, false);


--
-- Name: roadmaps_roadmap_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.roadmaps_roadmap_id_seq', 1, false);


--
-- Name: roles_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.roles_role_id_seq', 1, false);


--
-- Name: safety_contacts_contact_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.safety_contacts_contact_id_seq', 1, false);


--
-- Name: travel_preferences_preference_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.travel_preferences_preference_id_seq', 1, false);


--
-- Name: travel_types_travel_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.travel_types_travel_type_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_user_id_seq', 1, false);


--
-- Name: subscription_id_seq; Type: SEQUENCE SET; Schema: realtime; Owner: -
--

SELECT pg_catalog.setval('realtime.subscription_id_seq', 1, false);


--
-- Name: hooks_id_seq; Type: SEQUENCE SET; Schema: supabase_functions; Owner: -
--

SELECT pg_catalog.setval('supabase_functions.hooks_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

\unrestrict U5668Q8JkbN0cIyI1i8XaTi46WWNSJAesylX2fW6eczEg87nsMyq55zChVPBlaC

